extends layout

block content
  .hero
    h1 Welcome to StudyBuddy
    p Find study partners and join collaborative sessions.
    a.btn(href="/users") Find Buddies
    a.btn(href="/sessions") Browse Sessions
