extends layout

block content
  section.hero
    h1 StudyBuddy
    p Peer-to-peer study support for university students.
    a.btn(href="/users") Browse Students
    a.btn(href="/sessions") Find Sessions
