extends layout

block content
  h1 Browse by Topic
  p Select a topic to explore sessions in that area.

  .topic-grid
    each tag in tags
      a.topic-card(href="/sessions?tag=" + encodeURIComponent(tag.tag))
        span.topic-name= tag.tag
        span.topic-count= tag.total + ' sessions'
