extends layout

block content
  h1 Browse Study Buddies
  p.subtitle All registered students on the platform.

  .user-grid
    each user in users
      .user-card
        h2= user.first_name + ' ' + user.last_name
        p 📚 #{user.department}
        p 🏫 #{user.university}
        p Level: #{user.academic_level}
        a.btn(href="/users/" + user.user_id) View Profile
