extends layout

block content
  .hero
    h1 StudyBuddy
    p Connect with students, join sessions and study together.
    a.btn(href="/users") Browse Buddies
    a.btn(href="/sessions") View Sessions
