extends layout

block content
  h1 Find Buddies
  .grid
    each user in users
      .card
        h2= user.first_name + ' ' + user.last_name
        p= user.dept
        p= user.uni
        p= user.academic_level
        a.btn(href="/users/" + user.user_id) Profile
